// Colors

.--focused{ color: $focused; }
.--white{ color: $white; }
.--breeze{ color: $breeze; }
.--amped{ color: $amped; }
.--concrete{ color: $concrete; }
.--alarmed{ color: $alarmed; }
.--slate{ color: $slate; }
.--exuberant{ color: $exuberant; }
.--mist{ color: $mist; }
.--blazed{ color: $blazed; }
.--leafed{ color: $leafed; }
.--clouded{ color: $clouded; }
.--daffy{ color: $daffy; }
.--calm{ color: $calm; }
.--iced{ color: $iced; }

.--bg-focused{ background-color: $focused; }
.--bg-white{ background-color: $white; }
.--bg-breeze{ background-color: $breeze; }
.--bg-amped{ background-color: $amped; }
.--bg-concrete{ background-color: $concrete; }
.--bg-alarmed{ background-color: $alarmed; }
.--bg-slate{ background-color: $slate; }
.--bg-exuberant{ background-color: $exuberant; }
.--bg-mist{ background-color: $mist; }
.--bg-blazed{ background-color: $blazed; }
.--bg-leafed{ background-color: $leafed; }
.--bg-clouded{ background-color: $clouded; }
.--bg-daffy{ background-color: $daffy; }
.--bg-calm{ background-color: $calm; }
.--bg-iced{ background-color: $iced; }
