body, html{
  font-family: $opensans;
}

#app {
  overflow: hidden; // Fix for collapsed column padding
}

.main-content{
  padding: 2rem;
}

.--m0{ margin: 0; }
.--p0{ padding: 0; }

.--mt0{ margin-top: 0; }
.--mt1{ margin-top: 1rem; }
.--mt2{ margin-top: 2rem; }
.--mt3{ margin-top: 3rem; }
.--mt4{ margin-top: 4rem; }
.--mt5{ margin-top: 5rem; }

.--mb0{ margin-bottom: 0; }
.--mb1{ margin-bottom: 1rem; }
.--mb2{ margin-bottom: 2rem; }
.--mb3{ margin-bottom: 3rem; }
.--mb4{ margin-bottom: 4rem; }
.--mb5{ margin-bottom: 5rem; }

.--pt0{ padding-top: 0; }
.--pt1{ padding-top: 1rem; }
.--pt2{ padding-top: 2rem; }
.--pt3{ padding-top: 3rem; }
.--pt4{ padding-top: 4rem; }
.--pt5{ padding-top: 5rem; }

.--pb0{ padding-bottom: 0; }
.--pb1{ padding-bottom: 1rem; }
.--pb2{ padding-bottom: 2rem; }
.--pb3{ padding-bottom: 3rem; }
.--pb4{ padding-bottom: 4rem; }
.--pb5{ padding-bottom: 5rem; }

.--border-wrap{
    border-left: 1px solid $slate;
    padding-left: 1rem;
}

.--text-center {
  text-align: center;
}

.--text-right {
  text-align: right;
}

.--expanded {
  width: 100%;
}

.--caps-first {
  text-transform:capitalize;
}

// Plain list style
.--plain{
  list-style: none;
  padding: 0;
}

// Spinner
.windows8 {
  position: relative;
  width: 24px;
  height: 24px;
  margin: auto;
}

.--right{
  float:right;
  float:right;
  padding-right: 4rem;
}

.windows8 .wBall {
  position: absolute;
  width: 23px;
  height: 23px;
  opacity: 0;
  transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  animation: orbit 4.5325s infinite;
  -o-animation: orbit 4.5325s infinite;
  -ms-animation: orbit 4.5325s infinite;
  -webkit-animation: orbit 4.5325s infinite;
  -moz-animation: orbit 4.5325s infinite;
}

.windows8 .wBall .wInnerBall {
  position: absolute;
  width: 3px;
  height: 3px;
  background: rgb(0, 0, 0);
  left: 0px;
  top: 0px;
  border-radius: 3px;
}

.windows8 #wBall_1 {
  animation-delay: 0.986s;
  -o-animation-delay: 0.986s;
  -ms-animation-delay: 0.986s;
  -webkit-animation-delay: 0.986s;
  -moz-animation-delay: 0.986s;
}

.windows8 #wBall_2 {
  animation-delay: 0.193s;
  -o-animation-delay: 0.193s;
  -ms-animation-delay: 0.193s;
  -webkit-animation-delay: 0.193s;
  -moz-animation-delay: 0.193s;
}

.windows8 #wBall_3 {
  animation-delay: 0.3965s;
  -o-animation-delay: 0.3965s;
  -ms-animation-delay: 0.3965s;
  -webkit-animation-delay: 0.3965s;
  -moz-animation-delay: 0.3965s;
}

.windows8 #wBall_4 {
  animation-delay: 0.5895s;
  -o-animation-delay: 0.5895s;
  -ms-animation-delay: 0.5895s;
  -webkit-animation-delay: 0.5895s;
  -moz-animation-delay: 0.5895s;
}

.windows8 #wBall_5 {
  animation-delay: 0.793s;
  -o-animation-delay: 0.793s;
  -ms-animation-delay: 0.793s;
  -webkit-animation-delay: 0.793s;
  -moz-animation-delay: 0.793s;
}

@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    transform: rotate(180deg);
    animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    transform: rotate(300deg);
    animation-timing-function: linear;
    origin: 0%;
  }

  30% {
    opacity: 1;
    transform: rotate(410deg);
    animation-timing-function: ease-in-out;
    origin: 7%;
  }

  39% {
    opacity: 1;
    transform: rotate(645deg);
    animation-timing-function: linear;
    origin: 30%;
  }

  70% {
    opacity: 1;
    transform: rotate(770deg);
    animation-timing-function: ease-out;
    origin: 39%;
  }

  75% {
    opacity: 1;
    transform: rotate(900deg);
    animation-timing-function: ease-out;
    origin: 70%;
  }

  76% {
    opacity: 0;
    transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    transform: rotate(900deg);
  }
}

@-o-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -o-transform: rotate(180deg);
    -o-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -o-transform: rotate(300deg);
    -o-animation-timing-function: linear;
    -o-origin: 0%;
  }

  30% {
    opacity: 1;
    -o-transform: rotate(410deg);
    -o-animation-timing-function: ease-in-out;
    -o-origin: 7%;
  }

  39% {
    opacity: 1;
    -o-transform: rotate(645deg);
    -o-animation-timing-function: linear;
    -o-origin: 30%;
  }

  70% {
    opacity: 1;
    -o-transform: rotate(770deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 39%;
  }

  75% {
    opacity: 1;
    -o-transform: rotate(900deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 70%;
  }

  76% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }
}

@-ms-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -ms-transform: rotate(180deg);
    -ms-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -ms-transform: rotate(300deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 0%;
  }

  30% {
    opacity: 1;
    -ms-transform: rotate(410deg);
    -ms-animation-timing-function: ease-in-out;
    -ms-origin: 7%;
  }

  39% {
    opacity: 1;
    -ms-transform: rotate(645deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 30%;
  }

  70% {
    opacity: 1;
    -ms-transform: rotate(770deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 39%;
  }

  75% {
    opacity: 1;
    -ms-transform: rotate(900deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 70%;
  }

  76% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }
}

@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 0%;
  }

  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin: 7%;
  }

  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 30%;
  }

  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 39%;
  }

  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 70%;
  }

  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
}

@-moz-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -moz-transform: rotate(180deg);
    -moz-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -moz-transform: rotate(300deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 0%;
  }

  30% {
    opacity: 1;
    -moz-transform: rotate(410deg);
    -moz-animation-timing-function: ease-in-out;
    -moz-origin: 7%;
  }

  39% {
    opacity: 1;
    -moz-transform: rotate(645deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 30%;
  }

  70% {
    opacity: 1;
    -moz-transform: rotate(770deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 39%;
  }

  75% {
    opacity: 1;
    -moz-transform: rotate(900deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 70%;
  }

  76% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }
}

// This helper class is used for the loading symbol inside buttons.
// It allows the button to expand full width since it's bigger than it's small minimum
.--loading-expander {
  width: 70px;
  display: inline-block;
}
