.page-items{

  .selected-unit-types{
    &__name{
      font-size: 14px;
      margin: 5px;
    }
    &__remove{
      font-size: 14px;
      margin: 5px;
      color: $slate;
      cursor: pointer;
    }
    &__line{
      border: none;
      border-top: 1px solid $slate;
    }
  }

}